---
layout: default
---
<style>
    h1{
        color:#b46c00;
        font-family: 'Times New Roman', Times, serif;
    }
    .meta{
        background-color: rgba(176, 176, 176, 0.613);
        padding:5px;
        position:relative;
        max-width:300px;
        border-left:5px solid black;
    }
</style>
<h1>{{- page.title -}}</h1>
<br>
<div class="meta">
    <p class="date">Published date: &nbsp; {{- page.date | date: "%b %d %Y (%a)" -}}</p>
    <p class="tags">Tags: &nbsp; {{- page.tag -}}</p>
</div>
<br>
<br>

{{ content }}